<nav class="navbar navbar-expand-sm bg-light">
  <!--<button type="click" (click)="newNode()">Add Notes</button>-->
  <input type="text"  [(ngModel)]="notes" class="form-control" placeholder="Search here for notes..."id="notes">
</nav>
<div class="row">
  
  <div class="col-4 col-md-4">
        <div  class="notescards" *ngFor="let node of nodes| filter: notes" (click)="selectedNode(node)">
      <p><small><b>{{node.notesTitle}}</b></small><p>
      <p>{{node.notes}}</p>
      <p><small>{{node.timestamp}}</small></p>
         <button type="click" (click)="deleteNode(node)">X</button>
      </div>
    </div>
  <div class="col-6">
    <app-nodedetail></app-nodedetail>
  </div>
</div>
