<form #notesForm="ngForm" *ngIf="node">
    <div class="form-group">
      <h3>Update Notes</h3>
  <div class="row">
    <label for="notes">Notes Title</label>
    <input type="text" name="notesTitle" [(ngModel)]="node.notesTitle" class="form-control" id="notes">
  </div>
  </div>
    <div class="form-group">
  <div class="row">
    <label for="notes">Notes:</label>
    <textarea rows="4" name="notes" cols="50" type="text"[(ngModel)]="node.notes" class="form-control" id="notes"></textarea>
  </div>
  </div>
<button type="button"  class="btn btn-danger"  (click)="updateValue();notesForm.reset()">Save</button>
</form>
<div *ngIf="!node" class="container-fluid">
    <div class="form-group">
       <h3>Add Notes</h3>
  <div class="row">
    <label for="notes">Notes Title</label>
    <input type="text"  [(ngModel)]="notesTitle" class="form-control" id="notes">
  </div>
  </div>
    <div class="form-group">
  <div class="row">
    <label for="notes">Notes:</label>
    <textarea rows="4" cols="50" type="text"[(ngModel)]="notes" class="form-control" id="notes"></textarea>
  </div>
  </div>
<button type="button" class="btn btn-danger" (click)="newNode()">Save</button>

</div>